body {
    color:#fdfdfd;
    font-family: sans-serif;
    margin: 1%;
    background-color: black;
}

h1 {
    border-width: 1px;
    padding-bottom: 0%;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 420;
    margin: -5%;
}

p {
    text-align: center;

}
img{
    border: 0px solid #8d573f;
    border-radius: 50%;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.photo img:hover {
    filter: grayscale(100%);
}

.photo {
    width: 160px;
    margin: 0 auto 50px;
}
.top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    background-color: #e6b3b3;
    border-radius: 50%;
    text-align: center;
}
.info{
    letter-spacing: 2px;
    line-height: 2;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    border: 0px solid rgb(22, 24, 24);
    font-size: small;
}

.work-item{
    flex-grow: 1;
    flex-basis: 33.3333%;
    padding: 1px;
    box-sizing: border-box;
    line-height: 0;
}

.works {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.work-item img {
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 0px;
    aspect-ratio: 1;
    object-fit: cover;
}